/* reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* container */
.container {
    max-width: 1193px;
    margin: auto;
}

/* test */
.container > * {
    border: 2px dashed black;
}
/* fine container */


/* nav */
nav {
    background-color: #ADD8E6;
    padding: 17px;
}

nav .container {
    background-color: #daa520;
    display: flex;
    
}

nav .container > * {
    padding: 14px 8px;
}

nav .logo {
    width: 238px;
}

nav .links {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    gap: 10px;
}

nav .login {
    width: 238px;
    text-align: right;
}
/* fine nav */

/* header */
#hero {
    background-color: #00008b;
    padding: 50px 20px;
}

.container-small {
    background-color: #ee82ee;
    border: 2px dashed black;
    height: 396px;
    /* test */

    max-width: 903px;
    margin: auto;
}
/* fine header */

/* main */
section {
    padding: 50px 20px;
}

section .container {
    display: flex;
}

.big {
    background-color: #1e90ff;
    height: 496px;
    /* test */

    flex-grow: 1;
}

.small {
    background-color: #ffc0cb;
    /* test */

    width: 476px;
}